<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl">
  <!-- BEGIN: Head-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
    <meta name="keywords" content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
    <meta name="author" content="Barat Hadian">
    <title>خطای 404 - قالب مدیریتی آفتاب پرست - بوت استرپ 4 برنامه وب مدرن و پوسته استاتیک داشبورد + کیت رابط کاربری</title>
    <link rel="apple-touch-icon" href="/dist/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/dist/images/ico/favicon.ico">
    <link href='/dist/css-rtl/Vazir-FD.css' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">

   <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/dist/vendors/css/vendors-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/vendors/css/forms/toggle/switchery.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/plugins/forms/switch.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/colors/palette-switch.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/colors.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/components.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/custom-rtl.min.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/colors/palette-gradient.min.css">
    <link rel="stylesheet" type="text/css" href="/dist/css-rtl/pages/error.min.css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/style-rtl.css">
    <!-- END: Custom CSS-->

  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->
  <body class="vertical-layout vertical-menu 1-column  bg-gradient-directional-danger blank-page blank-page" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="1-column">
   

<%-body%>
        <!-- BEGIN: Vendor JS-->
        <script src="/dist/vendors/js/vendors.min.js" type="text/javascript"></script>
        <script src="/dist/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>
        <script src="/dist/js/scripts/forms/switch.min.js" type="text/javascript"></script>
        <!-- BEGIN Vendor JS-->
    
        <!-- BEGIN: Page Vendor JS-->
        <script src="/dist/vendors/js/forms/validation/jqBootstrapValidation.js" type="text/javascript"></script>
        <!-- END: Page Vendor JS-->
    
        <!-- BEGIN: Theme JS-->
        <script src="/dist/js/core/app-menu.min.js" type="text/javascript"></script>
        <script src="/dist/js/core/app.min.js" type="text/javascript"></script>
        <!-- END: Theme JS-->
    
        <!-- BEGIN: Page JS-->
        <script src="/dist/js/scripts/forms/form-login-register.min.js" type="text/javascript"></script>
        <!-- END: Page JS-->
    
      </body>
      <!-- END: Body-->
    </html>