<footer class="footer footer-static footer-light navbar-border navbar-shadow">
  طراحی و برنامه نویسی شده توسط 
  <a class="text-bold-800 grey darken-2" href="https://instagram.com/erfanyousefi.ir" target="_blank">
    Erfan Yousefi
  </a>
  </span>
    </div>
  </footer>