<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description"
    content="Chameleon Admin is a modern Bootstrap 4 webapp &amp; admin dashboard html template with a large number of components, elegant design, clean and organized code.">
  <meta name="keywords"
    content="admin template, Chameleon admin template, dashboard template, gradient admin template, responsive admin template, webapp, eCommerce dashboard, analytic dashboard">
  <meta name="author" content="Barat Hadian">
  <title>روغنی کار</title>
  <link rel="apple-touch-icon" href="/dist/images/ico/apple-icon-120.png">
  <link rel="shortcut icon" type="image/x-icon" href="/dist/images/ico/favicon.ico">
  <link href='/dist/css-rtl/Vazir-FD.css' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700"
    rel="stylesheet">

  <!-- BEGIN: Vendor CSS-->
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/vendors-rtl.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/forms/toggle/switchery.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/plugins/forms/switch.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/colors/palette-switch.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/charts/chartist.css">
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/charts/chartist-plugin-tooltip.css">
  <!-- END: Vendor CSS-->

  <!-- BEGIN: Theme CSS-->
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/ui/prism.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/file-uploaders/dropzone.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/bootstrap-extended.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/colors.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/components.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/custom-rtl.min.css">
  <!-- END: Theme CSS-->

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/menu/menu-types/vertical-menu.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/colors/palette-gradient.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/core/colors/palette-gradient.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/pages/gap-application.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/pages/dashboard-analytics.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/vendors/css/forms/selects/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/dist/css-rtl/plugins/file-uploaders/dropzone.min.css">

  <!-- END: Page CSS-->

  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="/assets/css/style-rtl.css">
  <!-- END: Custom CSS-->
</head>