<div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true" data-img="/dist/images/backgrounds/02.jpg">
    <div class="navbar-header">
      <ul class="nav navbar-nav flex-row">
        <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="/dist/images/logo/logo.png"/>
            <h3 class="brand-text">یدکی عرفان</h3></a></li>
        <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
      </ul>
    </div>
    <div class="navigation-background"></div>
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item"><a href="index.html"><i class="ft-home"></i><span class="menu-title" data-i18n="">داشبورد</span><span class="badge badge badge-info badge-pill float-right mr-2">3</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="/admin/product">محصولات</a>
            </li>
            <li class="active"><a class="menu-item" href="/admin/transactions">تراکنش ها</a>
            </li>
            <li class="active"><a class="menu-item" href="/admin/users">کاربران</a>
            </li>
            <li class="active"><a class="menu-item" href="/admin/comments">نظرات</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item"><a href="#"><i class="ft-layout"></i><span class="menu-title" data-i18n="">چیدمان</span><span class="badge badge badge-pill badge-danger float-right mr-2">5</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="#">نوار کناری محتوا</a>
              <ul class="menu-content">
                <li><a class="menu-item" href="layout-content-detached-left-sidebar.html">نوار کناری چپ</a>
                </li>
                <li><a class="menu-item" href="layout-content-detached-left-sticky-sidebar.html">نوار کناری چپ چسبنده</a>
                </li>
                <li><a class="menu-item" href="layout-content-detached-right-sidebar.html">نوار کناری راست</a>
                </li>
                <li><a class="menu-item" href="layout-content-detached-right-sticky-sidebar.html">نوار کناری سمت چپ</a>
                </li>
              </ul>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="navbar-hide-on-scroll-top.html">پنهان کردن در پیمایش بالا</a>
            </li>
            <li><a class="menu-item" href="vertical-nav-compact-menu.html">ناوبری کامپکت</a>
            </li>
            <li><a class="menu-item" href="layout-fixed-navbar.html">ناوبر ثابت</a>
            </li>
            <li><a class="menu-item" href="layout-fixed-navigation.html">ناوبری ثابت</a>
            </li>
            <li><a class="menu-item" href="layout-fixed-navbar-navigation.html">ناوبری ثابت و جهت یابی</a>
            </li>
            <li><a class="menu-item" href="layout-fixed-navbar-footer.html">ناوبری ثابت و پاورقی</a>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-fixed.html">طرح ثابت</a>
            </li>
            <li><a class="menu-item" href="layout-boxed.html">طرح جعبه</a>
            </li>
            <li><a class="menu-item" href="layout-static.html">طرح استاتیک</a>
            </li>
            <li class="navigation-divider"></li>
            <li><a class="menu-item" href="layout-light.html">نور کنترل</a>
            </li>
            <li><a class="menu-item" href="layout-dark.html">ناوبری تاریک</a>
            </li>
            <li><a class="menu-item" href="vertical-nav-flipped.html">ناوبری کشیده شده</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item"><a href="#"><i class="ft-sidebar"></i><span class="menu-title" data-i18n="">صفحات</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="gallery-grid.html">گالری</a>
            </li>
            <li><a class="menu-item" href="search.html">جستجوگر</a>
            </li>
            <li><a class="menu-item" href="#">احراز هویت</a>
              <ul class="menu-content">
                <li><a class="menu-item" href="login.html">ورود</a>
                </li>
                <li><a class="menu-item" href="register.html">ثبت نام</a>
                </li>
                <li><a class="menu-item" href="unlock-user.html">باز کردن کاربر</a>
                </li>
                <li><a class="menu-item" href="recover-password.html">بازیابی رمز عبور</a>
                </li>
              </ul>
            </li>
            <li><a class="menu-item" href="#">خطا</a>
              <ul class="menu-content">
                <li><a class="menu-item" href="error-400.html">خطا 400</a>
                </li>
                <li><a class="menu-item" href="error-401.html">خطا 401</a>
                </li>
                <li><a class="menu-item" href="error-403.html">خطا 403</a>
                </li>
                <li><a class="menu-item" href="error-404.html">خطا 404</a>
                </li>
                <li><a class="menu-item" href="error-500.html">خطا 500</a>
                </li>
              </ul>
            </li>
            <li><a class="menu-item" href="coming-soon.html">به زودی</a>
            </li>
            <li><a class="menu-item" href="under-maintenance.html">تعمیر و نگهداری</a>
            </li>
          </ul>
        </li>
        <li class=" nav-item"><a href="changelog.html"><i class="ft-file"></i><span class="menu-title" data-i18n="">تغییرات</span><span class="badge badge badge-pill badge-warning float-right">1.2</span></a>
        </li>
        <li class=" nav-item"><a href="#"><i class="ft-server"></i><span class="menu-title" data-i18n="">سطوح منو</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="#">مرحله دوم</a>
            </li>
            <li><a class="menu-item" href="#">کودک دوم سطح</a>
              <ul class="menu-content">
                <li><a class="menu-item" href="#">سطح سوم</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>