<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
      </div>
      <div class="content-body"><section class="flexbox-container bg-hexagons-danger">
      <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="col-lg-4 col-md-6 col-10 p-0">
              <div class="card-header bg-transparent border-0">
                  <h2 class="error-code text-center mb-2 white">404</h2>
                  <h3 class="text-uppercase text-center white">صفحه یافت نشد !</h3>
              </div>
              <div class="card-content">
                  <fieldset class="row py-2">
                      <div class="input-group col-12">
                          <input type="text" class="form-control form-control-xl input-xl border-grey border-lighten-1 box-shadow-4" placeholder="چطور میتوانیم کمک کنیم؟" aria-describedby="button-addon2">
                          <span class="input-group-append" id="button-addon2">
                             <button class="btn btn-lg btn-danger border-grey border-lighten-1 box-shadow-4" type="button"><i class="ft-search "></i></button>
                         </span>
                     </div>
                  </fieldset>
                  <div class="row py-2 text-center">
                      <div class="col-12">
                          <a href="/admin" class="btn btn-white danger box-shadow-4"><i class="ft-home"></i> بازگشت به خانه</a>
                      </div>
                      
                  </div>
              </div>
              <div class="card-footer bg-transparent">
                  <div class="row">
                      <div class="col-12 text-center">
                              <a href="#" class="font-large-1 white p-2 "><span class="ft-facebook"></span></a>
                          <a href="#" class="font-large-1 white "><span class="ft-twitter"></span></a>
                          <a href="#" class="font-large-1 white p-2"><span class="ft-instagram"></span></a>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
      </div>
    </div>
  </div>