<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">بخش محصولات</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">خانه</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/admin/product">لیست محصولات</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="/admin/product/add-oil"> (روغن)افزودن محصول</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="basic-layout-form">لیست محصولات</h4>
                                <a class="heading-elements-toggle">
                                    <i class="la la-ellipsis-v font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="ft-minus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="ft-rotate-cw"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="ft-maximize"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="close">
                                                <i class="ft-x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>تمامی فیلد هارا به درستی و با دقت پر کنید</p>
                                    </div>

                                    <form class="form" method="post" action="/admin/product/insert"
                                        enctype="multipart/form-data">
                                        <input type="hidden" name="category" value="oil">
                                        <div class="form-body">
                                            <h4 class="form-section">
                                                <i class="ft-flag"></i> اطلاعات محصول</h4>
                                            <div class="form-group">
                                                <label for="companyName">نام محصول</label>
                                                <input type="text" id="companyName" class="form-control"
                                                    placeholder="نام محصول" name="name">
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1"> قیمت محصول</label>
                                                        <input type="text" id="companyinput1" class="form-control"
                                                            placeholder="قیمت به ریال" name="price">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyName">عکس محصول</label>
                                                        <input type="file" id="fileinput" class="form-control"
                                                            placeholder="عکس محصول" name="image" accept="images/*">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">شماره سریال</label>
                                                        <input type="text" id="companyinput1" class="form-control"
                                                            placeholder="شماره سریال" name="serialnumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">تخفیف محصول به درصد</label>
                                                        <input type="text" name="off"
                                                            class="form-control"
                                                            id="percentage-mask" placeholder="مقدار را در٪ وارد کنید">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">تعداد موجود در انبار</label>
                                                        <input type="number" id="companyinput1" class="form-control"
                                                            placeholder="تعداد موجود در انبار " name="count">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">حجم : </label>
                                                        <input type="text" name="volume" class="form-control "
                                                            id="companyinput1" placeholder="حجم">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">نوع</label>
                                                        <input type="text" id="companyinput1" class="form-control"
                                                            placeholder="نوع" name="type">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">مناسب برای : </label>
                                                        <input type="text" name="usefor" class="form-control "
                                                            id="companyinput1"
                                                            placeholder="پژو - پراید 1387 - 206 مدل 82 - پرادو">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">برند</label>
                                                        <input type="text" id="companyinput1" class="form-control"
                                                            placeholder="برند" name="brand">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">ساخت : </label>
                                                        <input type="text" name="madein" class="form-control "
                                                            id="companyinput1" placeholder="ایران - چین - ژاپن و ...">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyinput8">درباره محصول</label>
                                                <textarea id="companyinput8" rows="5" class="form-control" name="text"
                                                    placeholder="درباره محصول"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="/admin/product" class="btn btn-danger mr-1">
                                                <i class="ft-x"></i> برگشت
                                            </a>
                                            <button type="submit" id="insertProductBtn" class="btn btn-primary">
                                                <i class="la la-check-square-o"></i> ذخیره
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
    <%if(Object.keys(messages || {}).length > 0 || message){%>
    <div class="modal text-left" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel2"
        aria-hidden="false" style="display: block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="basicModalLabel2"><i class="la la-road2"></i>سیستم هشدار</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <%if(Object.keys(messages).length > 0){%>
                            <%Object.keys(messages).forEach(key =>{%>
                                <%-(`<span>${messages[key]}</span><br/>`)%>
                                <%})%>
                        <%}%>
                        <%if(message){%>
                                <%-(`<span>${message}</span><br/>`)%>
                        <%}%>
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close" onclick="(() => document.querySelector('.modal').style.display ='none' )()">بستن</button>
                    </div>
                </div>
            </div>
    </div>
    <% }%>