<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-wrapper-before"></div>
        <div class="content-header row">
            <div class="content-header-left col-md-4 col-12 mb-2">
                <h3 class="content-header-title">بخش محصولات</h3>
            </div>
            <div class="content-header-right col-md-8 col-12">
                <div class="breadcrumbs-top float-md-right">
                    <div class="breadcrumb-wrapper mr-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">خانه</a>
                            </li>
                            <li class="breadcrumb-item"><a href="/admin/product">لیست محصولات</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="/admin/product/add">افزودن محصول</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="basic-layout-form">لیست محصولات</h4>
                                <a class="heading-elements-toggle">
                                    <i class="la la-ellipsis-v font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="ft-minus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="ft-rotate-cw"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="ft-maximize"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="close">
                                                <i class="ft-x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="card-text">
                                        <p>تمامی فیلد هارا به درستی و با دقت پر کنید</p>
                                    </div>
                                    
                                    <form class="form" method="post" action="/admin/product/insert"
                                        enctype="application/x-www-form-urlencoded">
                                        <input type="hidden" name="category" value="stock">

                                        <div class="form-body">
                                            <h4 class="form-section">
                                                <i class="ft-flag"></i> اطلاعات محصول</h4>
                                            <div class="form-group">
                                                <label for="companyName">نام محصول</label>
                                                <input type="text" id="companyName" class="form-control"
                                                    placeholder="نام محصول" name="title">
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">شماره سریال</label>
                                                        <input type="text" id="companyinput1" class="form-control"
                                                            placeholder="شماره سریال" name="serialnumber">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">تخفیف محصول به درصد</label>
                                                        <input type="text" name="off"
                                                            class="form-control percentage-inputmask"
                                                            id="percentage-mask" placeholder="مقدار را در٪ وارد کنید">
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">تعداد موجود در انبار</label>
                                                        <input type="number" id="companyinput1" class="form-control"
                                                            placeholder="تعداد موجود در انبار " name="count">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="companyinput1">سری ساخت</label>
                                                        <input type="text" name="series" class="form-control "
                                                            id="companyinput1" placeholder="سری ساخت">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="companyinput1">طول (سانتی متر)</label>
                                                        <input type="number" id="companyinput1" class="form-control"
                                                            placeholder="طول " name="length">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="companyinput1">وزن (گرم)</label>
                                                        <input type="number" name="weight" class="form-control"
                                                            id="companyinput1" placeholder="وزن">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="companyinput1">ارتفاع (سانتی متر)</label>
                                                        <input type="number" id="companyinput1" class="form-control"
                                                            placeholder="ارتفاع " name="height">
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="companyinput1">عرض (سانتی متر)</label>
                                                        <input type="number" name="width" class="form-control"
                                                            id="companyinput1" placeholder="عرض">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyinput8">درباره محصول</label>
                                                <textarea id="companyinput8" rows="5" class="form-control" name="text"
                                                    placeholder="درباره محصول"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-actions">
                                            <a href="/admin/product" class="btn btn-danger mr-1">
                                                <i class="ft-x"></i> برگشت
                                            </a>
                                            <button type="submit" id="insertProductBtn" class="btn btn-primary">
                                                <i class="la la-check-square-o"></i> ذخیره
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal fade text-left" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="basicModalLabel2" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="basicModalLabel2"><i class="la la-road2"></i>سیستم هشدار</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">بستن</button>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    const insertProductBtn = document.querySelector("#insertProductBtn");
    insertProductBtn.addEventListener("click", async (e) => {
        e.preventDefault();
        $(".form").serialize()
        const formData = $(".form").serializeArray()
        const myForm = new FormData();
        const body = {}
        formData.map(field => {
            body[field.name] = field.value
        })
        const result = await (await fetch("http://localhost:5000/admin/product/insert", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(body),
        })).json()
        if (result.status == 400) {
            document.querySelector(".modal-body").innerHTML = Object.keys(result?.messages)?.map(key => (`<span>${result.messages[key]}</span><br/>`)).join("")
            $('#iconModal').modal("show");
        }else{
            document.querySelector(".modal-body").innerHTML = "ثبت محصول با موفقیت انجام شد"
            $('#iconModal').modal("show");
            const inputs = (document.querySelectorAll("input")).forEach(input => {
                input.value = ""
            });
            (document.querySelectorAll("textarea")).forEach(input => {
                input.innerHTML = "";
                input.value = "";
            });
        }
    });
</script>